name: CI
on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  job1:
    name: Nim Tests
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Cache nimble
        id: cache-nimble
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-${{ hashFiles('*.nimble') }}

      - uses: jiro4989/setup-nim-action@3a60cf06f20c1cf3a9becf76b30288c0361d5f1e
        with:
          nim-version: '1.6.6'

      - name: Compile and run tests with `nimble test`
        run: "nimble test -y"

  job2:
    name: Smoke test
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - uses: jiro4989/setup-nim-action@3a60cf06f20c1cf3a9becf76b30288c0361d5f1e
        with:
          nim-version: '1.6.6'

      - name: Cache nimble
        id: cache-nimble
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-${{ hashFiles('*.nimble') }}

      - name: "Install nimble dependencies"
        if: steps.cache-nimble.outputs.cache-hit != 'true'
        run: "nimble install -y -d"

      - name: "Compile representer"
        run: "nimble c -d:release src/representer"

      - name: "Make representation of `two-fer`"
        run: "bin/run.sh two-fer ${PWD}/tests/cases/example-two-fer/ ${PWD}/tests/cases/example-two-fer/"

      - name: "Check diffs"
        run: |
          diff -y tests/cases/example-two-fer/mapping.json tests/cases/example-two-fer/expected/mapping.json
          diff -y tests/cases/example-two-fer/representation.txt tests/cases/example-two-fer/expected/representation.txt
