name: CI
on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  job1:
    name: Nim Tests
    runs-on: ubuntu-18.04
    container: nimlang/nim:1.2.4-ubuntu-regular@sha256:02a555518a05c354ccb2627940f6138fca1090d198e5a0eb60936c03a4875c69

    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # v2.4.0

      - name: Compile and run tests with `nimble test`
        run: "nimble test"
  job2:
    name: Smoke test
    runs-on: ubuntu-18.04
    container: nimlang/nim:1.2.4-ubuntu-regular@sha256:02a555518a05c354ccb2627940f6138fca1090d198e5a0eb60936c03a4875c69

    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579

      - name: "Make representation of `two-fer`"
        run: "bin/run.sh two-fer ${PWD}/tests/cases/example-two-fer/ ${PWD}/tests/cases/example-two-fer/"

      - name: "Check diffs"
        run: |
          diff tests/cases/example-two-fer/mapping.json tests/cases/example-two-fer/expected/mapping.json
          diff tests/cases/example-two-fer/representation.txt tests/cases/example-two-fer/expected/representation.txt
