name: CI
on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  job1:
    name: Nim Tests
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f

      - name: Cache nimble
        id: cache-nimble
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-${{ hashFiles('*.nimble') }}

      - uses: jiro4989/setup-nim-action@f6b28cfdfcbc9c2364429bd585ad5f850ea64498
        with:
          nim-version: '1.6.6'

      - name: Compile and run tests with `nimble test`
        run: "nimble test -y"

  job2:
    name: Smoke test
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f

      - uses: jiro4989/setup-nim-action@f6b28cfdfcbc9c2364429bd585ad5f850ea64498
        with:
          nim-version: '1.6.6'

      - name: Cache nimble
        id: cache-nimble
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-${{ hashFiles('*.nimble') }}

      - name: "Install nimble dependencies"
        if: steps.cache-nimble.outputs.cache-hit != 'true'
        run: "nimble install -y -d"

      - name: "Compile representer"
        run: "nimble c -d:release src/representer"

      - name: "Make representation of `two-fer`"
        run: "bin/run.sh two-fer ${PWD}/tests/cases/example-two-fer/ ${PWD}/tests/cases/example-two-fer/"

      - name: "Check diffs"
        run: |
          diff -y tests/cases/example-two-fer/mapping.json tests/cases/example-two-fer/expected/mapping.json
          diff -y tests/cases/example-two-fer/representation.txt tests/cases/example-two-fer/expected/representation.txt
